extends ../layouts/auth

block content
  .login-page
    .login-brand
      .brand-icon
        i.fas.fa-cross
      h1.brand-title Diocese Priest
      p.brand-subtitle Management System

    .login-card
      h2.login-heading Welcome Back
      p.login-subtext Sign in to your administrator account

      if flash && flash.error && flash.error.length
        .alert.alert-error
          i.fas.fa-exclamation-circle
          span= flash.error[0]

      if flash && flash.success && flash.success.length
        .alert.alert-success
          i.fas.fa-check-circle
          span= flash.success[0]

      form(action="/login" method="POST")
        .form-group
          label
            i.fas.fa-user
            |  Username
          input(
            type="text"
            name="username"
            placeholder="Enter your username"
            required
            autofocus
            autocomplete="username"
          )

        .form-group
          label
            i.fas.fa-lock
            |  Password
          .input-wrap
            input#loginPw(
              type="password"
              name="password"
              placeholder="Enter your password"
              required
              autocomplete="current-password"
            )
            button.toggle-pw(type="button" onclick="togglePw()")
              i.fas.fa-eye#pwIcon

        button.btn-login(type="submit")
          i.fas.fa-sign-in-alt
          |  Sign In

        .forgot-link
          a(href="/forgot-password")
            i.fas.fa-key
            |  Forgot your password?

    .login-footer
      p &copy; #{new Date().getFullYear()} Diocese Priest Management System

  script.
    function togglePw() {
      const pw = document.getElementById('loginPw');
      const ic = document.getElementById('pwIcon');
      if (pw.type === 'password') {
        pw.type = 'text';   ic.classList.replace('fa-eye','fa-eye-slash');
      } else {
        pw.type = 'password'; ic.classList.replace('fa-eye-slash','fa-eye');
      }
    }
